<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="br.geraldo.composite.compositeLaunchType"
            delegate="br.geraldo.composite.delegate.CompositeDelegate"
            name="Composite Launch"
            modes="run, debug">
      </launchConfigurationType>
   </extension>
   
   
<extension
    point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        class="br.geraldo.composite.ui.CompositeTabGroup"
        id="com.example.compositeLaunchConfigurationTabGroup"
        type="br.geraldo.composite.compositeLaunchType">
    </launchConfigurationTabGroup>
</extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="br.geraldo.composite.compositeLaunchType"
            icon="icons/star_red_16.png"
            id="br.geraldo.compositelaunch.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension> 
   


</plugin>
